*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.board{
    width: 200px;
    display: grid;
    grid-template-columns: 5rem 5rem 5rem;
    grid-template-rows: 5rem 5rem 5rem;
}
.board button{
   font-size: 3rem;
}
